<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include header %>
这是主页
<% include footer %>
</body>
</html>


<!--
  在渲染模板时传入一个变量 title 值为 express 字符串，模板引擎会将所有 <%= title %> 替换为 express ，然后将渲染后生成的html显示到浏览器中
-->